<div class="container">
  <p class='text-muted'>
    SOEPinfo v.2 is based on
    <a href='http://ddionrails.org' target='_blank'>DDI on Rails</a>,
    designed and built by
    <a href='http://www.marcelhebing.de' target='_blank'>Marcel Hebing</a>.
    <br>
    <a href='http://www.diw.de/en/soep/' target='_blank'>German Socio-economic Panel</a>
    (SOEP) --
    <a href='http://about.paneldata.org/imprint.html' target='_blank'>Imprint</a>
  </p>
  <a href="https://plus.google.com/107221469550511992812" rel="publisher"></a>
</div>
